body{
    font-family: 'Open Sans', sans-serif;
}
.banner-container{
    background-color: #CACACA;
}
.banner-column{
    background-color: #8D8D8D;  
}
.navbar-container{
    background-color: #262B37;
}
.about-container{
    background-color: #00BDBD;
}
.education-container{
    background-color: #EEEEEE;
}
.bg-redtype{
    background-color: #F8857F;
}
.redtype-color{
    color: #F8857F;
}
.circle{
    background-color: #F8857F;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
